.main{
    text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        background-color: rgb(208, 208, 205);
}
.city{
    color: black;
        background-color: thistle;
        padding: 20px;
        width: 500px;
        border-radius: 5px;
        border: none;
        margin: 20px;
    }
.search{
    margin-top: 0px;
        font-size: 18px;
        background-color: #5d87f1;
        color: white;
        border: none;
        padding: 20px;
        line-height: 1;
        border-radius: 5px;
}
 .App {
    background-color: white;
    margin:20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 350px ;
    margin-right:400px ;
    height: 450px;
    font-size: 16px;
    font-weight:normal;
    border-radius: 10px;
    box-shadow:0 30px 50px rgba(65, 50, 100, 0.08);
 }
 .grid-container{
    display: flex;
    justify-content: center;
 }